.verticle-container {

display: flex;
flex-direction: column;
align-items: center;

}

.btn {
    background-color: #FF0077;
    border-radius: 5px;
}

.btn btn-primary{

    background-color: #FF0077;
    border-radius: 5px;

}
