<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div>
        <h1>
            Home Page
        </h1>
        
         <div class="event-grid" style="display: flex; align-items: center;">
            <p>No events found.</p>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>
