

<!-- example login -->

<main>
  
    <div class="vert-container">

      <form action = "/login" method= "POST">
        
          <label for="name">Username:</label>
          <input type="text" id="username" name="username"/>

          <label for="name">Email:</label>
          <input type="text" id="email" name="email"/>
  
          <label for="name">Password:</label>
          <input type="text" id="password" name="password"/>
  
          <input type="submit" value="Login"/>
  
      </form>
    </div>
  </main>


<%- include ('../partials/footer') %>